.container {
    border: 1px solid red;
}
ul {
    list-style-type: none;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ========== FOOD =============*/

div#banner {
    height: 350px;
}

h1 {
    color: white;
    padding: 50px;
    font-size: 80px;
    text-align: center;
    font-family: 'Gravitas One', cursive;
}

h4{
    text-align: left;
}

h3 {
    text-align: center;
    font-size: 40px;
}

div.camping {
    color: black;
    background-color: rgb(252, 200, 147);
    margin: 20px auto;
    width: 1300px;
    display: flex;
}
div#camp-content {
    height: 500px;
}
div#camp {
    width: 300px;
    height: 400px;
    margin: 20px;
}
img.payson {
    width: 300px;
}

div.backpacking {
    color: black;
    background-color: rgb(252, 200, 147);
    margin: 20px auto;
    width: 1300px;
    display: flex;
}
div#backpack {
   width: 300px;
    height: 400px;
    margin: 20px;
}
img.easyfood {
    width: 300px;
    height: 200.25px;
}
div#backpacking-content {
    height: 500px;

}




div#weatherdisplay {
    height: 1000px;
    background-color: #f8f9fa;
    width: 1000px;
    margin: 50px auto;

}

footer{
    background-color: #F6A24E;
    height: 200px;
    color: white;
}

/* ===========TRAILS============*/
div.search-bar {
    margin: 50px auto 20px 20px;
    width: 300px;
    text-align: left;
}



/* ===========TRAILS============*/