.container {
    border: 1px solid grey;

}
ul {
    list-style-type: none;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* =======================FOOD ==============================================================================*/


div#banner {
    height: 350px;
}

h1 {
    color: white;
    padding: 50px;
    font-size: 80px;
    text-align: center;
    font-family: 'Gravitas One', cursive;
}


h4{
    text-align: left;
    padding: 10px;
    color: white;
}

h3 {
    text-align: center;
    font-size: 40px;
    color: white;
}

div.camping {
    color: black;
    background-color: #373737;
    margin: 100px auto 0;
    width: 1300px;
    display: flex;

}
div#camp-content {
    height: 500px;
    margin-top: 0;
    margin-bottom: 100px;
    color: white;
}
div#camp {
    width: 300px;
    height: 400px;
    margin: auto;
    border: 1px solid grey;
    
}

div#text {
    padding: 10px;
}
img.payson {
    width: 300px;
    padding: 10px;
}

div.backpacking {
    color: black;
    background-color: #373737;
    margin: 20px auto 0;
    width: 1300px;
    display: flex;
}
div#backpack {
   width: 300px;
    height: 400px;
    margin: auto;
    border: 1px solid grey;

}
img.easyfood {
    width: 300px;
    height: 200.25px;
    padding: 10px;
}
div#backpacking-content {
    height: 500px;
    margin-top: 0;
    margin-bottom: 300px;
    color: white;
}

footer{
    background-color: #373737;
    height: 200px;
    color: white;
}

/* =====================================TRAILS================================================================*/
button#createaccount-btn {
    margin-right: 20px;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

button#login-btn {
    border: 2px solid lightskyblue;
    border-radius: 5px; 
    background-color: rgba(0, 0, 0, 0.5);
}

div#search-bar {
    margin: 20px;
    width: 300px;
    text-align: left;
    border: 2px solid lightgrey;
    padding: 10px;
}



div#trail-flow {
    background-color: yellow;
    height:300px;
    margin-top: 10px;
}

div#weather {
    background-color: yellow;
    margin: 20px;
}
div#trail-display  {
    background-color: yellow;
    margin: 20px 0;
    
}


/* =========== MEMBER SIGN UP==========================================================================================*/
h2#account {
    margin: 10px auto;
    border-bottom: 2px solid royalblue;
    color: royalblue;
}

div#member-signup {
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    margin: 30px auto 30px;
    padding: 10px;
    color: #333333;
    border-radius: 8px;
}
#signup-btn {
    width: 231px;
    height: 41px;
    color: white;
    font-weight: bold;
    margin: 20px 30px 20px 120px;
    border-radius: 5px;
    background-image: linear-gradient(to right, steelblue , royalblue);
    text-align: center;
    
}
a {
    color: rgb(163, 159, 159);
}

.google-button {
    height: 40px;
    border-width: 1px;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    margin: 5px 30px 20px 120px;

    
  }
      
  .google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
  }
  
  .google-button__icon--plus {
    width: 30px;
  }
  
  .google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
  }
  

/* =========== MEMBER SIGN IN ==========================================================================================*/
div#member-signin {
    width: 500px;
    height: 450px;
    background-color: #ffffff;
    margin: 50px auto 50px;
    padding: 10px;
    color: #333333;
    border-radius: 8px;

}

h2#signin {
    margin: 30px auto;
    border-bottom: 2px solid royalblue;
    color: royalblue;
}

div#forgotu {
    float: right;
}
div#forgotp {
    float: left;
}
/* =========== GEAR ==========================================================================================*/

#bannergear {
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

/* =========== INTERACTIVE MAP - LEAFLET.js ==========================================================================================*/

div#mapid {
    height: 180px;
}


/* =====================================================================================================*/

/*=========LOCAL SERVICES=======================================================*/
#bannerlocal {
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

